@use '../../component/divider/style.scss' as divider;

.card-wrapper {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  

  &__title {
    color: gray;
  }
}

.button-change {
  background-color: rgb(0, 94, 255);
  padding: 10px;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.card-wrapper--block{
  display: grid;
  gap: 10px;
}
