<main class="main">
  <div class="main-content">
    <a href="/spotify">
      Головна
    </a>
    <h1 class="title title--center">Створити</h1>
    <ul class="choose">
      <a href="/spotify-create">
        <li class="choose-item">
          <img src="/img/svg/music.svg" alt="music" class="choose__image">
          <div class="choose__content">
            <strong class="title">Плейліст</strong>
            <p class="choose__text">Створіть плейлист із піснями чи епізодами</p>
          </div>
        </li>
      </a>
      <a href="/spotify-create?isMix=true">
        <li class="choose-item">
          <img src="/img/svg/mix.svg" alt="music" class="choose__image">
          <div class="choose__content">
            <strong class="title">Мікс</strong>
            <p class="choose__text">Комбінуйте смаки в спільному плейлісті з друзями</p>
          </div>
        </li>
      </a>
    </ul>
  </div>

</main>