<div class="nav">
    <ul class="nav__menu">
        {{!-- <li class="nav__link">
            <a class="nav__link-style" href="/user">USER</a>
        </li>
        <li>
            <a class="nav__link-style" href="/product">PRODUCT</a>
        </li> --}}
        {{!-- <li>
            <a class="nav__link-style" href="/purchase">PURCHASE</a>
        </li> --}}
        <li>
            <a class="nav__link-style" href="/spotify-choose">Spotify</a>
        </li>
    </ul>
</div>