@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as
  purchase;

main {
  margin: 20px;

  .product-list {
    display: grid;
    grid-template-columns: repeat( auto-fill,minmax(300px,1fr));
    gap: 30px;
  }
}
