<main class="main">
    {{#with data}}
    <form method="POST" action="/purchase-save?id={{id}}" class="card-info">
        <div class="main-heading">
            {{> heading title="Змінна данних" }}
        </div>
        <div class="purchase-info">
            <div class="card-wrapper">
                <div class="card-wrapper--block">
                    <h3 class='card-wrapper__title'>ID:</h3>
                    <p class="card-wrapper__subtitle">{{id}}</p>
                </div>
            </div>
            <div class="card-wrapper">
                <div class="card-wrapper--block">
                    {{> field label="Прізвище" name="lastname" value=lastname }}
                </div>
                <div class="card-wrapper--block">
                    {{> field label="Ім'я" name="firstname" value=firstname }}
                </div>
                <div class="card-wrapper--block">
                    {{> field label="Електронна пошта" name="email" value=email }}
                </div>
                <div class="card-wrapper--block">
                    {{> field label="Телефон" name="phone" value=phone }}
                </div>
            </div>

            <button class="button-change">Зберегти зміни</button>

        </div>

    </form>
    {{/with}}
</main>